:root {
  --colorPrincipal: #BB0009;
  --colorGrisClaro: #D2D3D5;
  --colorGrisBody: #E6E7E8;
  --colorTexto: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poiret One", sans-serif;
  background-color: var(--colorGrisBody);
}

.cuadradoFondo {
  width: 100vw;
  height: 40vh;
  background-color: var(--colorPrincipal);
  position: fixed;
  top: 0;
  z-index: -1;
}

.contenedor {
  margin: 0 auto;
  width: min(80%, 1570px);
  background-color: var(--colorGrisBody);
  margin-top: 70px;
}

.contenedorSitio {
  width: 90%;
  margin: 0 auto;
}

.titulo {
  font-size: 32px;
  font-weight: bold;
  color: var(--colorTexto);
  text-align: center;
  margin: 60px 0 30px 0;
}

.descripcion {
  font-size: 24px;
  color: var(--colorTexto);
  text-align: center;
  line-height: 32px;
  width: 70%;
  margin: 0 auto;
}

.tituloBlanco {
  font-size: 32px;
  text-align: center;
  color: var(--colorGrisBody);
  margin-bottom: 25px;
  margin-top: 15px;
}

.descripcionBlanco {
  font-size: 21px;
  line-height: 32PX;
  text-align: center;
  color: var(--colorGrisBody);
}